<% if user_signed_in? %>
	<li>
		<%= link_to "My profile", user_profile_path(current_user[:user_name]) %>
	</li>
	<li>
		<%= link_to "Friends", friends_path %>
	</li>
	<li>
		<%= link_to user_conversations_path do  %>
			 Messages <span class="badge"><%= get_count_of_unread_messages %></span>
		<% end %>
	</li>
<% end %>
