<ul class="pull-right nav">
	<% if user_signed_in? %>
	  <li>
	  <%= link_to('log out', destroy_user_session_path, :method => :delete) %>        
	  </li>
	<% else %>
	  <li>
	  <%= link_to('log in', sign_in_path)  %>  
	  </li>
	<% end %>
</ul>