<div class="row">
	<%= form_tag users_search_path, method: :get, class: "form-search", remote: true do %>
		<div class="input-append">
			<%= text_field_tag "search", "", class: "span2 search-query" %>
			<%= submit_tag "Search", class: "btn" %>
		</div>
	<% end %>
</div>
<div class="row">
	<table class='users-list-wrap' id="users_list">
	  	<%= render "users_list", users: @users %>
	</table>		
</div>