
<h4><%= @user.name %>'s Conversations</h4>
<ul>
  <% for conversation in @conversations do %>
    <li class=""><%= link_to conversation.subject, user_conversation_path(conversation) %></li>
  <% end %>
</ul>

<%= link_to "Create a New Conversation", new_user_conversation_path(@user)%>