<h4><%= @user.name %>'s Conversations</h4>
<div id="conversations-list-wrap">
    <%= render "conversations", conversations: @conversations %>
</div>
<br>
<div class="row-fluid">
    <%= link_to "Create a New Conversation", new_user_conversation_path(@user), class: "btn btn-primary" %>
</div>