/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* helpers */

 .pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

/* ================== */
.users-image-field{
	padding: 10px 0 10px 0;
	width: 100px;
}
.users-name-field{
	width: 250px;
	padding: 0px 0 70px 10px;
	font-weight: bold;
}

.users-controls-field{
	width: 100px;
	font-size: 12px;
}

.users-controls-field a{
	text-decoration: none !important;
}

.users-controls-field a:hover{
	background-color: #ededed;
}

.users-current-user{
	height: 120px;
	border-top: 1px solid #ededed;
}
