// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_wrap{
	position: relative;
	width: 100%;
	height: 100%;
}

.right_block{
	position: absolute;
	top: 0px;
	left: 300px;
}

.user_name{
	font: bold 16px/16px Helvetica, sans-serif;
	color: #005580;
}

.user-status{
	color: #999;
	font: 11px/11px Tahoma, serif;
}

.items-not-found{
	color: #555;
	margin: 0 auto;
	font: 14px/14px Helvetica, Arial, Serif;
}